<!DOCTYPE html>
<html>

<head>
    <title>display Image</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        img {
            max-width: 50vw;  
            height: auto;
            border-radius: 10px;  
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
        }
    </style>
</head>

<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header text-center">
                        <h1>Image</h1>
                    </div>
                    <div class="card-body text-center">
                        
                        <img src="{{ image_url }}" alt="Uploaded Image" class="img-fluid rounded">
                        
                        
                    </div>
                </div>
                <div class="card mt-4">
                    <div class="card-header text-center">
                        <h2>RGB Values</h2>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>R</th>
                                    <th>G</th>
                                    <th>B</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for rgb in rgb_values %}
                                <tr>
                                    <td>{{ rgb.0 }}</td>
                                    <td>{{ rgb.1 }}</td>
                                    <td>{{ rgb.2 }}</td>
                                    <td>{{ rgb.3 }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="text-center mt-3">
                    <a href="{% url 'upload_image' %}" class="btn btn-primary">Upload Another Image</a>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>